.container {
  margin: 100px auto;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact__text_left {
  font-weight: 700;
}

.contact__button_back {
  background-color: aqua;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 20px;
}

.contact__button_div {
  width: 100%;
  display: flex;
  justify-content: center;
}
