.name {
  text-align: center;
  font-size: 25px;
}

.logout__button_form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 30px;
  margin-top: 30px;
  background: black;
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 3px;
}
